*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body{
    font-family: 'Noto Sans Avestan', sans-serif;
    background-color: #f5f5dc;
}


.titulo{
    text-align: center;
    color:#ffc107;
    text-shadow: 5px 5px 5px #f5f5dc;
}


.navbar {
    background-color:#808080;
    width: 100%;
    font-size: 20px;
    padding: 20px; 
    
        .nav-link{
            color:#000 !important;
        }
}

.nav-item a:hover{
    color: #ffc107 !important;
}
.diseño{
    background-color: #f5f5dc;
    border: 5px solid #000;
    border-radius: 6px;
    width: 450px;
    height: 600px;  
        p{
            text-align: center;
            padding: 20px;
        } 
}

.flex{
    display: flex;
    justify-content: space-evenly;
    
}


@mixin medidas-img {
    background-size: cover;
    background-position: center;
    height: 300px;
}


.diseño-img{

    background-image:url(../img/diseñoweb.jpg);
    @include medidas-img()
}


.aplicaciones-img{
    background-image: url(../img/aplicacionesweb.jpg);
    @include medidas-img()
}


.commerce-img{
    background-image: url(../img/ecommerce.jpg);
    @include medidas-img()
}

.sub{
    text-align: center;
    color: #ff0000;
}


.info{
    margin: 150px;
    text-align: center;
    animation-duration: 2s;
    animation: aparecer 2s 5s infinite alternate;
    animation-delay: 5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes aparecer{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


.ultimo{
    background-color: #808080;
    width: 100%;
    height:150px;
    font-size: 20px;
    padding: 10px;
    text-align: center;

        li{
            padding: 10px;
            list-style: none;
            display: inline-block;
            text-decoration: none;
        }

        a{ 
            text-decoration: none;
            font-size: 30px;
            color: #ffc107;
        }

        a:hover{
            color: rgb(0, 0, 110);
        }
}


/* PRODUCTOS */

.diseño-producto{
    background-color: #f5f5dc;
    border: 5px solid #000;
    border-radius: 6px;
    width: 700px;
    height: 700px;
    
    
}
.producto-img{
    background-image: url(../img/producto.png);
    background-position: center;
    background-size: cover;
    height: 400px;
}


.contacto {
    background-color: #808080;
    width: 700px;
    height: 700px;
    padding: 30px;
    margin: auto;
    border-radius: 6px;
}
.contacto .controls {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid #000;
}
.contacto .boton {
    width: 100%;
    border: none;
    padding: 10px;
    margin-top: 10px;
}

/* media queries */

@media (max-width: 800px ){
    
    .navegacion {
        background-color:#808080;
        width: 100%;
        height:80px;
        font-size: 20px;
        padding: 20px;
    }
    
    .nav{
        display: flex;
        justify-content: space-evenly;
    }
    .diseño{
        background-color: #f5f5dc;
        border: 5px solid #000;
        width: 100%;
        height: 600px;
        margin: 20px;
        
        
    }
    .flex{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }

    .diseño-producto{
        background-color: #f5f5dc;
        border: 5px solid #000;
        width: 100%;
        height: 600px;    
    }

    .contacto{
        background-color: #808080;
        height: 600px;
        width: 100%;
    }

    
    .controls{
        width: 100%;
        padding: 10px;
        border-radius: 6px;
        border: 2px solid #000;
    }
    
    .boton{
        width: 100%;
        border: none;

    }
}
    


/* Fin */

@mixin medidas {
    background-position: center;
    background-size: cover;
    height: 400px;
}
    .sobremi-img{
        background-image: url(../img/sobremi.png);
        @include medidas()
    }


    .clientes-img{
        background-image: url(../img/clientes.jpg);
        @include medidas()
    }
    
